@import '../core/variables.scss';
@import '../core/mixins.scss';

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  @include tablet {
    display: grid;
    grid-template-columns: repeat(auto-fill, 180px);
    grid-auto-rows: 320px;
  }

  &__article {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    border-radius: 5px;
    font-family: $mainFont;
    text-align: center;
    margin-top: 20px;
    @include tablet {
      margin-top: 90px;
      margin-bottom: 0;
      width: 167px;
    }
    &--img {
      height: 334px;
      width: 240px;
      border-radius: 5px 5px 0 0;
      object-fit: cover;
      object-position: top;
      @include tablet {
        height: 232px;
        width: 167px;
      }
    }
    &--name {
      font-size: 18px;
      margin-top: 5px;
    }
    &--species {
      margin: 6px 0 8px;
    }
    &--not-found{
      color: $mainColor;
      min-width: 200px;
      line-height: 32px;
      font-size: 24px;
      @include tablet{
        min-width: 600px;
        margin-left: 100%;
      }
    }
  }
}

.gryffindor__card {
  background-color: $gryffDark;
  transition: all ease-in-out 0.3s;
  &:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.616),
      0 0 15px 10px rgba($gryffLight, 0.6);
  }
  & .list__article--name {
    color: $mainColor;
  }
  & .list__article--species {
    color: $mainColor;
  }
}

.hufflepuff__card {
  background-color: $huffDark;
  transition: all ease-in-out 0.3s;
  &:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.616),
      0 0 15px 10px rgba(194, 194, 194, 0.6);
  }
  & .list__article--name {
    color: $mainColor;
  }
  & .list__article--species {
    color: $mainColor;
  }
}

.ravenclaw__card {
  background-color: $ravenDark;
  transition: all ease-in-out 0.3s;
  &:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.616),
      0 0 15px 10px rgba(194, 194, 194, 0.6);
  }
  & .list__article--name {
    color: $mainColor;
  }
  & .list__article--species {
    color: $mainColor;
  }
}

.slytherin__card {
  background-color: $slythDark;
  transition: all ease-in-out 0.3s;
  &:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.616),
      0 0 15px 10px rgba($slythLight, 0.6);
  }
  & .list__article--name {
    color: $mainColor;
  }
  & .list__article--species {
    color: $mainColor;
  }
}
