@import '../core/variables.scss';
@import '../core/mixins.scss';

.form {
  display: flex;
  flex-direction: column;
  margin: 0px 0 40px;
  @include tablet {
    margin: 60px 10%;
    flex-direction: row;
    align-items: flex-end;
  }
  @include desktop{
    margin: 30px 10%;
  }
  &__section {
    display: flex;
    flex-direction: column;
    margin-right: 35px;
    font-family: $mainFont;
    &--label {
      margin: 15px 0 5px;
      font-size: 18px;
      color: $mainColor;
      @include tablet {
        margin-bottom: 10px;
      }
    }
    &--input {
      width: 280px;
      height: 30px;
      padding: 4px 0 0 5px;
      border: none;
      background-color: rgba($mainColor, 0.8);
      cursor: pointer;
      transition: all ease-in-out .3s;
      &:hover{
        background-color: $mainColor;
      }
      @include tablet {
        width: 180px;
      }
    }
  }
  &__reset {
    font-family: $mainFont;
    padding-top: 4px;
    width: 180px;
    min-height: 40px;
    margin-top: 20px;
    color: $mainColor;
    background-color: rgba(116, 116, 116, 0.473);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease-in-out .3s;
    &:hover{
      transform: translateY(-4px);
      box-shadow: 0 0 10px rgba($color: $mainColor, $alpha: .3);
      background-color: rgba($color: $mainColor, $alpha: .4);
    }
    @include tablet {
      margin: 0px;
      position: absolute;
      transform: translateY(60px);
      &:hover{
        transform: translateY(56px);
      }
    }
  }
}
