$mainFont: 'David Libre', serif;

$mainColor: white;
$scdnColor: black;

$gryffDark: rgb(70, 5, 26);
$gryffMediumDark: rgb(117, 14, 47);
$gryffMediumLight: rgb(169, 24, 70);
$gryffLight: rgb(240, 184, 14);

$huffDark: rgb(128, 93, 14);
$huffMediumDark: rgb(245, 188, 56);
$huffMediumLight: rgb(219, 195, 139);
$huffLight: rgb(138, 150, 166);

$ravenDark: rgb(4, 49, 77);
$ravenMediumDark: rgb(6, 81, 128);
$ravenMediumLight: rgb(103, 149, 177);
$ravenLight: rgb(138, 150, 166);

$slythDark: rgb(17, 49, 32);
$slythMediumDark: rgb(33, 78, 53);
$slythMediumLight: rgb(25, 117, 83);
$slythLight: rgb(138, 150, 166);
